APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=plexy
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null

MANDRILL_SECRET=null
TMDB_TOKEN=null
SPOTIFY_ID=null
SPOTIFY_SECRET=null
PUSHOVER_TOKEN=null
PUSHOVER_USER=null
PLEX_USERNAME=null
PLEX_PASSWORD=null
PLEX_TOKEN=null

# Plex Server URL Format => http://server.url.or.ip.address:port
PLEX_SERVER_URL=null
