# Ignore all dot files
.*

#except for
!.gitignore
!.gitkeep
!.editorconfig
!.env_example

# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Composer
composer.phar
composer.lock

# OS / Vagrant / Homestead
.DS_Store
.idea/
vagrant
.vagrant
/vendor
/node_modules
Homestead.yaml
Homestead.json

# Packages
_ide_helper.php

# SASS
*.css.map
/public/assets/stylesheets/css/master.css
/public/assets/stylesheets/css/master.css.map
