# Ignore all dot files
.*


#except for
!.gitignore
!.gitkeep
!.editorconfig

# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helper.php

# SASS
*.css.map
/public/assets/stylesheets/css/*
