/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/

/**
 * This file further modifies normalize to provide consistent styling
 * specifically for the WebLinc platform.
 *
 * 1. needed to prevent whitespace in IE9's layout, selector doesn't work in FF,
 *    Safari or Chrome (not necessary).
 * 2. for iOS
 * 3. if a select element is larger than it's parent we want to restrict it's
 *    width.
 * 4. ensure h1 - h6 match global .heading block styles
 */

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding: 0;
    color: $white;
    font: #{$font-size}/#{$line-height} $font;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 15px;
}

ul, ol {
    margin:  0 0 15px 20px;
    padding: 0;
}

li {
    margin: 0;
}

img {
    width:  auto;
    height: auto;
    max-width: 100%;
}

form {
    margin: 0;

    // scss-lint:disable QualifyingElement
    div[style*="margin: 0px; padding: 0px; display: inline;"] { /* [1] */
        // @include visually-hidden;
        display: none;
    }
}

fieldset {
    margin:  0;
    padding: 0;
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    border-radius: 0;
}

// scss-lint:disable QualifyingElement
input[type="radio"] {
    border-radius: 10px; /* [2] */
}

input,
select,
textarea {
    font-size: $form-control-font-size;
}

select {
    max-width: 100%; /* [3] */
}

th,
td {
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 { /* [4] */
    @extend .heading; // scss-lint:disable PlaceholderInExtend
}

h2 {
    @extend .heading--2; // scss-lint:disable PlaceholderInExtend
}

h3 {
    @extend .heading--3; // scss-lint:disable PlaceholderInExtend
}

h4 {
    @extend .heading--4; // scss-lint:disable PlaceholderInExtend
}

h5 {
    @extend .heading--5; // scss-lint:disable PlaceholderInExtend
}

h6 {
    @extend .heading--6; // scss-lint:disable PlaceholderInExtend
}
