/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
    font-style: normal;
    font-family: 'icons'; // scss-lint:disable VariableForProperty
    font-weight: normal;
    src: url('../../fonts/icons.eot');
    src: url('../../fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/icons.woff') format('woff'),
         url('../../fonts/icons.ttf');
}
