/*=============================*\
  APP STYLE GUIDE
\*=============================*/

// $purple:                #5E1ED1;
$purple:                #8E44AD;
$purple:                #9A12B3;
// $blue:;

$orange:                #F9690E;
$teal:                  #65C6BB;

$gray:                  #000000;
$lighter-gray:          #ecf0f1;
$light-gray:            #67809F;
$dark-gray:             #22313F;





/*=============================*\
  APP styles
\*=============================*/
$nav-background-color:       $lighter-gray;
$body-background-color:      $lighter-gray;





/*=============================*\
  FONT
\*=============================*/

$primary-font:           'Josefin Sans', sans-serif;
$secondary-font:           'Josefin Sans', sans-serif;
