/*------------------------------------*\
    #IMAGE-REPLACEMENT
\*------------------------------------*/

@mixin image-replacement {
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

%image-replacement {
    @include image-replacement;
}

.image-replacement {
    @extend %image-replacement;
}
