/*------------------------------------*\
    #VISUALLY-HIDDEN
\*------------------------------------*/

@mixin visually-hidden {
    position: absolute;
    left: -99999px;
    top: 0;
}

%visually-hidden {
    @include visually-hidden;
}

.visually-hidden {
    @extend %visually-hidden;
}
