/*=============================*\
  #BUTTON
\*=============================*/

%button {
    display: inline-block;
    margin: 5px 0;
    padding: 12px 24px;
    width: 100%;
    line-height: 1;
    font-size: $font-size;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background: fade-in($teal, .8%);
    border: 2px solid $teal;
    border-radius: 24px;
    vertical-align: center;
    transition: all 0.25s ease-out;

    &:focus,
    &:hover {
        color: $white;
        background-color: lighten($teal, 10%);
    }

    @include respond-to($medium-breakpoint) {
        width: auto;
    }
}

.button {
    @extend %button;
}

.button--text {
    background: none;

    &:focus,
    &:hover {
        // border-bottom: 1px solid $teal;
    }
}

.button--small {
    font-size: 10px;
    padding: 8px 16px;
    border-radius: 16px;
}
