/*=============================*\
  #FORM
\*=============================*/

/**
 * FORM CONTAINER
 */

.form-container {
    margin: 0 auto;
    max-width: 500px;
}

    .form__header {
        @include visually-hidden;
        text-align: center;
    }

    .form__sign-up {
        font-size: 24px;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        color: rgba($white, .7);
    }





/**
 * FORM
 */

.form {}

    .form__group {
        + .form__group {
            margin-top: 10px;
        }
    }

        .form__group-cell {
            position: relative;
        }

            .form__label {
                display: block;
                margin: 0;
                font-size: 14px;
                text-transform: uppercase;
            }

            .form__control {
                margin: 5px 0;
                padding: 15px 8px;
                height: auto;
                font-weigth: 100;
                letter-spacing: 1px;
                background-color: rgba(#fff, 0.2) !important;
                border: none;
                width: 100%;
            }

                .form__control-toggle-button {
                    @include inline-icon($icon--show, 'before');
                    position: absolute;
                    display: block;
                    right: 6px;
                    bottom: 11px;
                    width: 44px;
                    height: 42px;
                    border: 0;
                    border-radius: 44px;
                    line-height: 1;
                    white-space: nowrap;
                    text-indent: 200%;
                    overflow: hidden;
                    background: none;
                    color: $purple;

                    &:focus,
                    &:hover {
                        color: $teal;
                    }

                    &.is-toggled {
                        color: $teal;
                    }

                    &:before {
                        @extend .icon;
                        position: absolute;
                    }
                }

            .form__group-toggle {
                font-size: 10px;
                color: $light-gray;
                letter-spacing: 1px;
                font-weight: 100;
                text-transform: uppercase;
            }

    .form__action {
        padding: 20px 0;
    }
