/*=============================*\
  #HEADING
\*=============================*/

.heading {
    font-family: $primary-font;
    font-weight: 900;
}

.heading--2 {
    font-weight: 700;
}

.heading--3 {
    font-weight: 400;
}

.heading--4 {
    font-weight: 400;
}

.heading--5 {
    font-weight: 100;
}

.heading--6 {
    font-weight: 100;
}
