body {
    font-family: $primary-font;
    background: $body-background-color;

  //   background: url('http://upload.wikimedia.org/wikipedia/commons/d/d6/Half_Dome_from_Glacier_Point%2C_Yosemite_NP_-_Diliff.jpg') 50% no-repeat fixed;
  // background-size: cover;
  // font: 14px/1.4 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.container {
    // background: inherit;
    // background: rgba(#fff, 0.5);
    // border: 1px solid rgba(0,0,0,0.1);
    // border-radius: 6px;
    // box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    overflow: hidden;
    &:before {
        // content: '';
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // background: inherit;
        // -webkit-filter: blur(10px) saturate(2);
    }
}
