/*=============================*\
  #LOGIN
\*=============================*/

.login {
    padding-top: 50px;
}

    .login__logo {
        font-size: 64px;
        margin-bottom: 32px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.3;
    }
